.image-wrapper
{
	width: 45%;
	display: inline-block;
}

img
{
	width: 100%;
	display: block;
}

#background:hover
	{
		fill: red;
	}

.st1
{
	animation-duration: 4s;
	animation-name: myanimation;
	animation-iteration-count: infinite;

}

@keyframes myanimation
{
	0%   {fill: red;}
  25%  {fill: yellow;}
  50%  {fill: blue;}
  100% {fill: green;}
}